<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body bgcolor="#24273a" text="#cad3f5">

        <div class="center-content">
            
            <h1><%= title %></h1>
            <p>Welcome to my <%= title %> challenge</p>

            <hr />
            <center>

                <img src="/images/<%= title %>.png" alt="<%= title %>" max-width="100%" />
            
                <p>During my first Professional Development module, I completed the GoodHabitz course A Winning Business Idea because I am interested in starting my own business in the future. <br><br>
                During the course, I learned several useful tools and methods, such as developing a value proposition, creating a customer empathy map, using the Business Model Canvas, identifying key activities, defining a cost structure, and finding revenue streams.<br><br>
This course showed me how I can turn the knowledge and skills I gain during my studies into a real business opportunity after university. It provided a clear road map for developing and validating a business idea. </p>
            
            </center>
            
            <hr />
            <p><a href="https://kiliandiescher.org">Also check out my other projects on my portfolio!</a></p>
        
        </div>
    </body>
</html>