<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body bgcolor="#24273a" text="#cad3f5">

        <div class="center-content">
            
            <h1><%= title %></h1>
            <p>Welcome to my <%= title %> challenge</p>

            <hr />
            <center>

                <img src="/images/<%= title %>.png" alt="<%= title %>" style="max-width: 100%; height: auto; display: block; margin: 0 auto;" />
            
                <p>During Module 2, I focused on developing practical hardware skills by learning how to solder electronic components.<br><br>

                I attended a soldering workshop where I learned essential soldering and desoldering techniques before applying these skills by assembling a functional oscilloscope kit. <br>
                This gave me hands-on experience with electronic components and circuit assembly, helping me build confidence in hardware development and improving my understanding of electronic circuits.<br><br>

                The project strengthened my technical skills, problem-solving abilities, and patience when facing challenges. It also provided a solid foundation for future electronics projects and brought me one step closer to my goal of developing smart home technology.
</p>
            
            </center>
            
            <hr />
            <p><a href="https://kiliandiescher.org">Also check out my other projects on my portfolio!</a></p>
        
        </div>
    </body>
</html>