<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body bgcolor="#24273a" text="#cad3f5">

        <div class="center-content">
            
            <h1><%= title %></h1>
            <p>Welcome to my <%= title %> challenge</p>

            <hr />
            <center>

                <img src="/images/<%= title %>.png" alt="<%= title %>" max-width="100%" />
            
                <p>Here is a picture of <%= title %></p>
            
            </center>
            
            <hr />
            <p><a href="https://kiliandiescher.org">Also check out my other projects on my portfolio!</a></p>
        
        </div>
    </body>
</html>