<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body bgcolor="#24273a" text="#cad3f5">

        <div class="center-content">
            
            <h1><%= title %></h1>
            <p>Welcome to my <%= title %> challenge</p>

            <hr />
            <center>

                <img src="/images/<%= title %>.png" alt="<%= title %>" style="max-width: 100%; height: auto; display: block; margin: 0 auto;" />
            
                <p>During Module 3, I focused on developing a smart home system for my room. This project allowed me to combine skills from previous modules, including electronics and programming into a single integrated system.</p>
                <p>The project started with identifying the components required for the system and designing the circuits for each subsystem. I then built, programmed, and tested the individual modules before integrating them into a complete smart home system. Throughout the project, I gained experience with MQTT communication and learned how hardware and software can work together to create automated features.</p>
                <p>A major learning point was developing a systems-thinking approach. Instead of working on individual tasks, I had to consider how different components interacted and how changes in one part of the system affected the whole project. <br> The modular design approach worked well, allowing me to develop and test features independently before combining them.</p>
            </center>
            
            <hr />
            <p><a href="https://kiliandiescher.org">Also check out my other projects on my portfolio!</a></p>
        
        </div>
    </body>
</html>