<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body bgcolor="#24273a" text="#cad3f5">

        <div class="center-content">
            
            <h1><%= title %></h1>
            <p>Welcome to my <%= title %> challenge</p>

            <hr />
            <center>

                <img src="/images/<%= title %>.png" alt="<%= title %>"  style="max-width: 100%; height: auto; display: block; margin: 0 auto;" />
            
                <p>During Module 6, I focused on redesigning and rebuilding my portfolio website to better showcase my projects, skills, and personal development. The goal was to create a more professional online presence while learning new web technologies and hosting methods.</p>
                <p>The project began with researching effective portfolio structures and planning the content I wanted to present. I then rebuilt the website using WordPress and deployed it through a self-hosted LAMPP server connected to the internet using Cloudflare.</p>
                <p>Through this challenge, I learned about professional self-presentation, WordPress customization, and website self-hosting. I also gained a better understanding of how to organize and present projects in a way that is clear and engaging for visitors.</p>
            </center>
            
            <hr />
            <p><a href="https://kiliandiescher.org">Also check out my other projects on my portfolio!</a></p>
        
        </div>
    </body>
</html>