<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body bgcolor="#24273a" text="#cad3f5">

        <div class="center-content">
            
            <h1><%= title %></h1>
            <p>Welcome to my <%= title %> challenge</p>

            <hr />
            <center>

                <img src="/images/<%= title %>.png" alt="<%= title %>"  style="max-width: 100%; height: auto; display: block; margin: 0 auto;" />
            
                <p>During Module 7, I worked as part of a team to develop a large interactive train map of the Netherlands. The goal of the project was to combine software, electronics, and data visualization into a single installation capable of displaying the live locations of intercity trains.</p>
                <p>The project began with defining requirements and researching how to obtain real-time train data. We then developed software to process API data and map train positions to LEDs on a physical map. Alongside the software development, we designed and built the physical installation.</p>
                <p>This challenge taught me the importance of teamwork and collaboration in larger technical projects. I also gained experience working with real-time data and solving the challenges involved in connecting software systems to physical hardware.</p>
            </center>
            
            <hr />
            <p><a href="https://kiliandiescher.org">Also check out my other projects on my portfolio!</a></p>
        
        </div>
    </body>
</html>